@import "_var";

.paperStyle {
  padding: 20px;
  height: 60vh;
  width: 450px;
  margin: 100px auto;
}

.header {
  margin: 3px;
}

.avatarStyle {
  background-color: $bg-color !important;
}

.buttonMargin {
  margin-top: 10px !important;
  color: $btn-text-color !important;
  border: 2px solid $btn-border-color !important;
  background-color: $btn-color !important;
}

.errorMessage {
  color: $err-msg-color;
}
