.paperStyle  {
    padding: 20px !important;
    height: 60vh !important;
    width: 450px !important;
    margin: 100px auto !important;
 }
.header {
    margin: 3px !important;
}
.avatarStyle {
    background-color: #1bbd7e !important;
}
.buttonMargin  {
    margin-top: 10px !important;
    color: green !important;
    border: 2px solid !important;
}

.errorMessage {
    color: red !important;
}