.paperStyle  {
    padding: 20px;
    height: "60vh";
    width: 450px;
    margin: "100px auto";
 }
.header {
    margin: "3px";
}
.avatarStyle {
    color: "#1bbd7e";
}
.buttonMargin  {
    margin-top: "10px";
    color: "#green";
    border: "2px solid";
}

.errorMessage {
    color: red;
}