.paperStyle {
    padding: 20px !important;
    height: 50vh !important;
    width: 450px !important;
    margin: 200px auto !important;
  };

  .avatarStyle { 
      background-color: #1bbd7e !important;
    };

  .btnstyle { 
      margin: 16px 0px !important;
    };