@import "var";

.paperStyle {
    padding: 0 15px 10px 20px;
    width: 500px;
    margin: 100px auto;
  };

.header { margin: 6px };

.avatarStyle { background-color: $bg-color !important};

.buttonMargin {
    margin-top: 20px !important;
    color: $btn-text-color !important;
    border: 2px solid $btn-border-color !important;
    background-color: $btn-color !important;
  };

.errorMessage {
    color: $err-msg-color;
}