.paperStyle {
    padding: 0px 15px 10px 20px !important;
    width: 500px !important;
    margin: 100px auto !important;
  };

.header { margin: 6px !important};

.avatarStyle { background-color: #1bbd7e !important};

.buttonMargin {
    margin-top: 20px !important;
    color: white !important;
    border: 2px solid !important;
    background-color: gray !important;
  };

.errorMessage {
    color: red !important;
}